코드 1.1. 평균 제곱 오차 계산

In [2]:
import numpy as np
# 1. mse_function 함수
def mse_function(y, t):
    return 0.5 * np.sum((y - t) ** 2)

# 2. 정답 데이터
t = [0,0,0,1,0,0,0,0,0,0]

# 3. 모델 출력 값의 예 2개 y1, y2
y1 = [0.01, 0.03, 0.1, 0.8, 0.1, 0.1, 0.02, 0.1, 0.0, 0.01]
y2 = [0.01, 0.03, 0.1, 0.07, 0.1, 0.1, 0.02, 0.1, 0.8, 0.01]

In [3]:
# 4. y1의 경우 평균 제곱 오차 계산결과 출력
mse1 = mse_function(np.array(y1), np.array(t))
print(mse1)

0.040749999999999995

In [4]:
# 5. y2의 경우 평균 제곱 오차 계산결과 출력
mse2 = mse_function(np.array(y2), np.array(t))
print(mse2)

0.7732

코드 1.2. 크로스 엔트로피 오차 계산

In [5]:
# 1.  cee_function 함수
def cee_function(y, t):
    delta = 1e-7
    return -np.sum(t * np.log(y + delta))

# 2. 정답 데이터
t = [0,0,0,1,0,0,0,0,0,0]

# 3. 모델 출력 값의 예 2개 y1, y2
y1 = [0.01, 0.03, 0.1, 0.8, 0.1, 0.1, 0.02, 0.1, 0.0, 0.01]
y2 = [0.01, 0.03, 0.1, 0.07, 0.1, 0.1, 0.02, 0.1, 0.8, 0.01]

In [6]:
# 4. y1의 경우 교차 엔트로피 오차 계산결과 출력
see1 = cee_function(np.array(y1), np.array(t))
print(see1)

0.22314342631421757

In [7]:
# 5. y2의 경우 교차 엔트로피 오차 계산결과 출력
see2 = cee_function(np.array(y2), np.array(t))
print(see2)

2.6592586083623697